<div class="layout-container min-h-screen relative pb-(--footer-height) bg-bg-primary">
  <!-- navbar -->
  <div
    class="navbar text-secondary bg-bg-secondary flex gap-4 align-center justify-between px-12"
  >
    <div class="h-full">Logo</div>
    <div>Functions</div>
  </div>
  <!-- main-content -->
  <div style="min-height: var(--content-container-height)">
    <router-outlet />
  </div>
  <!-- footer -->
  <div
    class="text-secondary bg-bg-secondary w-full text-label-sm px-12 h-(--footer-height) absolute bottom-0"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque accusamus
    aperiam possimus alias, pariatur perspiciatis minus.
  </div>
</div>
