PUBLIC_AUTH_AUTHORITY=https://localhost:7001
PUBLIC_AUTH_CLIENT_ID=ums-client
PUBLIC_AUTH_REDIRECT_URI=http://localhost:5173/callback
PUBLIC_AUTH_POST_LOGOUT_URI=http://localhost:5173/login
PUBLIC_AUTH_SCOPE=openid profile email roles

# API
API_BASE_URL=https://your-api.com
