<div
  class="relative max-h-[var(--content-container-height)] overflow-auto px-8 py-4"
>
  <canvas #canvas class="h-full w-[200px] fixed"></canvas>
  <div class="flex flex-col rounded-sm shadow-md border border-primary">
    @for(item of [1,2,3,4,5]; track item){
    <div class="flex gap-4 items-center">
      <div #child class="z-2 h-[200px] w-[200px] min-w-[200px]"></div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores
        quisquam error eligendi sed recusandae, voluptate, quo non nesciunt,
        amet voluptas nihil delectus in! Corrupti necessitatibus, autem quis id
        deserunt voluptatibus?
      </p>
    </div>
    }
  </div>
</div>
