@use "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  /* utilities */
  --content-container-height: calc(100vh - 24px - 60px);

  /* colors */
  --color-bg-primary: #1f1f1f;
  --color-text-primary: #fff4f4;
  --color-bg-yellow-primary: #e6cc9c;
  --color-border-primary: #fff4f4;
  --color-icon-primary: #000000;

  --color-bg-secondary: #6f4e37;
  --color-text-secondary: #b6dedd;
  --color-border-secondary: #b6dedd;
  --color-icon-secondary: #1C274C;

  --color-bg-contrast-1: #FFE3DC;
  --color-text-contrast-1: #3A2D32;

  /* typography */
  --font-weight-title: 700;
  --font-weight-label: 600;
  --font-weight-body: 400;

  /* layout */
  --footer-height: 24px;
  --navbar-height: 60px;
  --content-height: calc(100vh - var(--footer-height) - var(--navbar-height));

  font-family: "Roboto Mono", monospace;
}

/* colors */
@theme static {
  --color-primary: var(--color-text-primary);
  --color-secondary: var(--color-text-secondary);

  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-bg-yellow-primary: var(--color-bg-yellow-primary);

  --color-border-primary: var(--color-border-primary);
  --color-border-secondary: var(--color-border-secondary);

  --color-bg-contrast-1: var(--color-bg-contrast-1);
  --color-contrast-1: var(--color-text-contrast-1);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 24px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-bg-yellow-primary);
  border-radius: 4px;
  transition: background 0.3s;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-bg-yellow-primary) transparent;
}

/* typography */
@layer utilities {
  .text-title {
    font-weight: var(--font-weight-title);

    &-sm {
      font-size: 16px;
    }
    &-md {
      font-size: 20px;
    }
    &-lg {
      font-size: 24px;
    }
  }

  .text-label {
    font-weight: var(--font-weight-label);

    &-sm {
      font-size: 14px;
    }
    &-md {
      font-size: 16px;
    }
    &-lg {
      font-size: 18px;
    }
  }

  .text-body {
    font-weight: var(--font-weight-body);

    &-sm {
      font-size: 12px;
    }
    &-md {
      font-size: 14px;
    }
    &-lg {
      font-size: 16px;
    }
  }
}
